<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <style>
    h1{
    color:red;
    }
    table{
    border:1px solid red;
    font-size : 50px;
    margin:auto;
    }
    tr:nth-of-type(even)
    {
        background:gray;
    }
    tr:nth-of-type(odd)
    {
        background:yellow;
    }
    </style>
</head>
<body>
<h1>Welcome to Django world,this response is coming from template file</h1>
<h2>information of actresses</h2>
<table>
    <thead>
        <th>Name</th>
        <th>Age</th>
    </thead>
    <tr>
        <td>sunny</td>
        <td>36</td>
    </tr>
    <tr>
        <td>malika</td>
        <td>28</td>
    </tr>
</table>

</body>
</html>